body {
    font-family: 'Trebuchet MS';
    color:rgb(219, 214, 191);
    background-color: #2d2d2d;
}

#app-container {
    width: 80%;
    margin: 0 auto;
}

header {
    background-color: #1c1c1c;
    border-radius: 10px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    box-shadow: 0 0 10px black;
}

#app-title {
    flex: 30%;
    padding-left: 5%;
    padding-right: 5%;
}

#menu {
    flex: 70%;
    display: flex;
    justify-content: space-between;
    padding-left: 10%;
    padding-right: 10%;
}

a {
    text-decoration: None;
    color: rgb(219, 214, 191);
}

a:hover {
    color:rgb(255, 222, 88);
}

.menu-item {
    font-size: 20px;
}

#content-container {
    background-color: #1c1c1c;
    border-radius: 10px;
    margin-top: 20px;
    box-shadow: 0 0 10px black;
    padding: 20px;
}

ul {
    margin-inline-end: 20px;
    font-size: 18px;
}