{% extends "base.html" %}
{% load static %}

{% block title %}
Dodaj ucznia
{% endblock %}</title>

{% block css_files %}
    <link rel="stylesheet" href="">
{% endblock %}

{% block content %}
    <form action="" method="POST">
        {% csrf_token %}
        {% for field in form %}
            <div class="word-input">
                {{ field.label_tag }}
                {{ field }}
            </div>
        {% endfor %}
        <button type="submit">Save</button>
    </form>



    {% comment %} <ul>
        <p>Imię:<input type="text"></p>
        <p>Nazwisko:<input type="text"></p>
        <p>Płeć:
            Chłopiec<input type="radio" name="gender" value="male">
            Dziewczynka<input type="radio" name="gender" value="female">
        </p>
        <p>Wiek:<input type="text"></p>
        <p>Pytanie 18:
            <input type="radio" name="pytanie18" value="0">
            <input type="radio" name="pytanie18" value="1">
            <input type="radio" name="pytanie18" value="2">
        </p>
        <p>Pytanie 19:
            <input type="radio" name="pytanie19" value="0">
            <input type="radio" name="pytanie19" value="1">
            <input type="radio" name="pytanie19" value="2">
        </p>
        <p>Pytanie 20:
            <input type="radio" name="pytanie20" value="0">
            <input type="radio" name="pytanie20" value="1">
            <input type="radio" name="pytanie20" value="2">
        </p>
    </ul> {% endcomment %}
{% endblock %}