{% extends "base.html" %}
{% load static %}

{% block title %}
{{ child.first_name }} {{ child.last_name }} - szczegóły ucznia
{% endblock %}</title>

{% block css_files %}
    <link rel="stylesheet" href="{% static "description_app/child_details.css" %}">
{% endblock %}

{% block content %}
    <div id="detail-header">
        <h3>{{ child.first_name }} {{ child.last_name }} - szczegóły ucznia</h3>
    </div>
    <ul>
        <p>
            <span>{{ child.description }}</span>
        </p>
        <p>
            <a href="{% url "edit-child" child.id %}">
                <button class="">Edytuj</button>
            </a>
            <a href="{% url "delete-child" child.id %}">
                <button class="">Usuń</button>
            </a>
        </p>
    </ul>
{% endblock %}
