{% extends "base.html" %}
{% load static %}

{% block title %}
{{ child.first_name }} {{ child.last_name }} - szczegóły ucznia
{% endblock %}</title>

{% block css_files %}
    <link rel="stylesheet" href="{% static "description_app/child_details.css" %}">
{% endblock %}

{% block content %}
    <div id="detail-header">
        <h3>{{ child.first_name }} {{ child.last_name }} - szczegóły ucznia</h3>
    </div>
    <ul>
        <p>
            <span>{{ child.description }}</span>
        {% comment %} {% for child_skill in child_skills %}
            {% for response in responses %}
                {% if child_skill.grade == response.grade and child_skill.skill == response.skill %}
                    <span>{{ child.first_name }} {{ response.response_text }}</span>
                {% endif %}
            {% endfor %}
        {% endfor %} {% endcomment %}
        </p>
    </ul>
{% endblock %}
